* {
  font-family: Roboto;
}

.background-container {
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  background-size: cover;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.white-container {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.add-appointment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-size: cover;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.title-label {
  color: #b5b7c4;
}

.tile-input {
  width: 400px;
  height: 37px;
  border-radius: 3px;
  margin-top: 2px;
}

.date-input {
  width: 400px;
  height: 40px;
  border-radius: 3px;
  margin-top: 2px;
}

.appointment-date-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.add-button {
  background-color: #8b5cf6;
  border-radius: 5px;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}

.date-label {
  color: #b5b7c4;
}

.horizontalLine {
  color: black;
}

.appointment-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.starredButton {
  height: 20px;
  color: #9897f0;
  border-color: #9897f0;
  border-radius: 10px;
}

.unordered-list-container {
  display: flex;
  flex-direction: row;
}
